
.moviecard{
  /* width: 25rem; */
  max-width: 30rem;
  /* max-height: 30rem; */
  margin-left: 30px;

  padding: 20px;

}


.grid{
  display: grid;
  gap:2rem
}

.grid-4-col{
  grid-template-columns: repeat(4, 1fr);
}

a:hover h2{
  color: var(--bg-clr);
  transform: translateY(-1.5rem);
  display: inline-block;
}

a:hover img {
  transform: scale(1.1);
}

.search-section {
  width: 400px;
  margin: 30px;
}

.head{
  font-size: 25px;
}
